.bar {
    position: absolute;
    display: block;
    max-height: 150px;
    text-align: center;
    background-color: #353F4C;
    color: #FFFFFF
}

.bar--top {
    right: 0;
    top: 0;
    left: 0
}

.bar--bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.button-show {
    position: absolute;
    top: 50%;
    left: 50%;
}

.fadeout {
    max-height: 0;
}

.fadein {
    max-height: 150;
}

.button-warning {
    margin: 0 0 10px 0;
    height: 30px;
    border-radius: 2px;
    background-color: #F0BB2F;
    text-decoration: none;
    border: none;
    outline: none;
}